/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

body:not(.home):not(.page-template-about-page):not(.post-type-archive-product) .site-content {
	@include center-block;
	display: flex;
	width: 1024px;
}

body:not(.home):not(.page-template-about-page):not(.post-type-archive-product) .content-area {
	border-right: $solid-border-style;
	padding-right: 5%;
	width: 73%;
}

body:not(.home):not(.page-template-about-page):not(.post-type-archive-product) .widget-area {
	padding-left: 5%;
	width: 27%;
}

.content-area {
	padding: 3rem 0;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
