/*--------------------------------------------------------------
# Footer Styles
--------------------------------------------------------------*/

.site-footer {
  color: #fff;
  background-color: $sixth-brand-color;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;

  h3 {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0;
  }

  i {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

  a {
    color: #FFF;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }

  .day-of-week {
    font-weight: bold;
  }

  p {
    margin: 0 auto 0.5rem;
  }
}

.footer-logo {
  display: flex;
  align-items: center;

  img {
    width: 300px;
  }

}

.copyright {
  font-size: 0.8rem;
  color: #FFF;
  background-color: $fifth-brand-color;
  text-align: center;
  padding: 1.5rem 0;

}
